:root {
  --ref-white: var(--bs-white, var(--white, #fff));
  --ref-gray-100: var(--bs-gray-100, #f8f9fa);
  --ref-gray-300: var(--bs-gray-300, #dee2e6);
  --ref-gray-700: var(--bs-gray-700, #848e97);
  --ref-gray: var(--bs-gray-600, #b2b8bf);
  --ref-darkgray: var(--bs-gray-800, #495057);
  --ref-black: var(--bs-black, var(--black, #000));
  --ref-primary: var(--bs-primary, var(--primary, #0d6efd));
  --ref-success: var(--bs-success, var(--success, #20c997));
  --ref-danger: var(--bs-danger, var(--danger, #ff0051));
  --ref-warning: var(--bs-warning, var(--warning, #f7e296));
  --ref-body-color: var(--bs-body-color, #212529);
  --ref-border-radius: 0.3rem;
  --ref-gutter-sm: 0.5em;
  --ref-gutter-md: 1em;
  --ref-gutter-lg: 2em;
  --ref-gutter: var(--ref-gutter-md);
  --ref-input-padding: 0.5rem;
  --ref-input-padding-sm: 0.5rem;
  --ref-btn-padding: 0.5rem 1.5rem;
  --ref-btn-border-radius: var(--ref-border-radius);
}
.ref-button {
  display: inline-block;
  text-decoration: none;
  padding: var(--ref-btn-padding);
  background-color: var(--ref-primary);
  color: var(--ref-white);
  border-radius: var(--ref-btn-border-radius);
  line-height: 1.5;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
}
.ref-button.inactive {
  background-color: var(--ref-gray);
  pointer-events: none;
}
.ref-button:hover {
  opacity: 0.92;
  color: var(--ref-white);
}
.ref-button:active {
  position: relative;
  bottom: -1px;
}
.ref-button.ref-button-success {
  background-color: var(--ref-success);
}
.ref-button.inactive {
  background-color: var(--ref-gray-300);
}
.ref-form-control {
  padding: var(--ref-input-padding);
  border: 1px solid var(--ref-gray-300);
  border-radius: var(--ref-border-radius);
  box-shadow: 2px 2px #00000005;
  background: var(--ref-white);
  font: inherit;
  color: inherit;
}
.ref-store-message {
  margin-bottom: 10px;
}
.reflow-shopping-cart {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reflow-shopping-cart hr {
  margin: 20px 0;
  height: 1px;
  background-color: var(--ref-gray);
  border: 0;
}
.reflow-shopping-cart .ref-heading {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 1.5em;
}
.reflow-shopping-cart .ref-heading-small {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}
.reflow-shopping-cart .ref-product-photo {
  object-fit: cover;
}
.reflow-shopping-cart .ref-loading-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none !important;
}
.reflow-shopping-cart .ref-loading-overlay.visible {
  opacity: 1;
}
.reflow-shopping-cart .ref-message,
.reflow-cart-toggler .ref-message {
  background-color: var(--ref-gray-100);
  padding: 10px;
  text-align: center;
}
.reflow-shopping-cart .ref-cart {
  text-align: left;
}
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--ref-gutter-md) 0;
  border-top: 1px solid var(--ref-gray-300);
  overflow: hidden;
}
.reflow-shopping-cart
  .ref-cart
  .ref-cart-table
  .ref-product-controls.ref-mobile-product-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 0.8em;
}
.reflow-shopping-cart
  .ref-cart
  .ref-cart-table
  .ref-product-controls.ref-mobile-product-controls
  .ref-product-remove {
  padding: 0.5em;
  margin-left: 0.6em;
}
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-quantity-widget {
  margin-bottom: 0;
}
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-data {
  flex: 1;
}
.reflow-shopping-cart .ref-cart .ref-th {
  display: none;
  width: 100%;
  font-size: 0.75em;
  text-transform: uppercase;
  border-bottom: 1px solid var(--ref-gray-300);
  padding: 12px 0;
}
.reflow-shopping-cart .ref-cart .ref-product-col {
  display: flex;
  flex-direction: column;
}
.reflow-shopping-cart .ref-cart .ref-product-wrapper {
  display: flex;
  flex: 1;
  align-items: flex-start;
  padding: var(--ref-gutter-md) 0;
}
.reflow-shopping-cart .ref-cart .ref-price-col,
.reflow-shopping-cart .ref-cart .ref-quantity-col,
.reflow-shopping-cart .ref-cart .ref-total-col {
  display: none;
}
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-photo {
  background-color: var(--ref-gray-300);
  width: 25%;
  height: 90px;
  margin-right: 1em;
  margin-top: 5px;
}
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-name {
  font-weight: bold;
  word-break: break-word;
}
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-category,
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-variant,
.reflow-shopping-cart
  .ref-cart
  .ref-cart-table
  .ref-product-personalization-holder,
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-total-formula {
  font-size: 0.75em;
  color: var(--ref-gray);
}
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-total-sum {
  font-weight: bold;
}
.reflow-shopping-cart
  .ref-cart
  .ref-cart-table
  .ref-product-total-sum.out-of-stock {
  color: var(--ref-gray);
}
.reflow-shopping-cart
  .ref-cart
  .ref-cart-table
  .ref-product-data
  .ref-product-info {
  display: flex;
  justify-content: space-between;
}
.reflow-shopping-cart
  .ref-cart
  .ref-cart-table
  .ref-product-data
  .ref-product-info
  .ref-mobile-product-price {
  margin-left: var(--ref-gutter-lg);
}
.reflow-shopping-cart
  .ref-cart
  .ref-cart-table
  .ref-product-data
  .ref-product-total {
  display: block;
}
.reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-row {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
@media (min-width: 576px) {
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-total {
    text-align: right;
  }
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-photo {
    height: 120px;
  }
}
@media (min-width: 768px) {
  .reflow-shopping-cart .ref-cart .ref-product-wrapper {
    align-items: center;
    padding: 0;
  }
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-data {
    margin: var(--ref-gutter-md) 0;
  }
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-product {
    flex-direction: row;
    border: none;
    margin: var(--ref-gutter-md) 0;
    padding: 0;
  }
  .reflow-shopping-cart .ref-cart .ref-th {
    display: table;
  }
  .reflow-shopping-cart .ref-cart .ref-product-col,
  .reflow-shopping-cart .ref-cart .ref-price-col,
  .reflow-shopping-cart .ref-cart .ref-quantity-col,
  .reflow-shopping-cart .ref-cart .ref-total-col {
    display: table-cell;
  }
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-price-col,
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-quantity-col,
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-total-col {
    padding-top: var(--ref-gutter-md);
  }
  .reflow-shopping-cart .ref-cart .ref-product-col {
    width: 50%;
  }
  .reflow-shopping-cart .ref-cart .ref-price-col {
    width: 15%;
    text-align: center;
  }
  .reflow-shopping-cart .ref-cart .ref-quantity-col {
    width: 20%;
    text-align: center;
  }
  .reflow-shopping-cart .ref-cart .ref-total-col {
    width: 15%;
    text-align: right;
  }
  .reflow-shopping-cart
    .ref-cart
    .ref-cart-table
    .ref-product-price.ref-mobile-product-price,
  .reflow-shopping-cart
    .ref-cart
    .ref-cart-table
    .ref-product-controls.ref-mobile-product-controls {
    display: none;
  }
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-price,
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-total {
    padding-top: var(--ref-gutter-sm);
  }
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-product-photo {
    width: 100px;
    height: 100px;
    border-radius: var(--ref-border-radius);
  }
  .reflow-shopping-cart .ref-cart .ref-cart-table .ref-quantity-widget {
    margin: 0;
  }
}
.ref-quantity-widget {
  display: inline-flex;
  border: 1px solid var(--ref-gray-300);
  border-radius: var(--ref-border-radius);
  box-shadow: 2px 2px 2px #0000000d;
  
}
.ref-quantity-widget input {
  text-align: center;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  width: 5.5em;
  font-size: 0.9em;
  padding: var(--ref-input-padding);
}
.ref-quantity-widget > div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0 solid;
  border-color: inherit;
  cursor: pointer;
  font-size: 1.1em;
  line-height: 1.5em;
  width: 1.6em;
  padding: 0.2em 0;
  text-align: center;
  user-select: none;
  padding: var(--ref-input-padding);
  min-width: 32px;
}
.ref-summary .ref-quantity-widget input,
.ref-summary .ref-quantity-widget > div {
  padding: var(--ref-input-padding-sm);
}
.ref-quantity-widget > div:active {
  background-color: #979ca01a;
}
.ref-increase span,
.ref-decrease span {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
}
.ref-increase span:before,
.ref-increase span:after,
.ref-decrease span:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 10px;
  height: 2px;
  background: currentColor;
  transform: translateY(-50%);
}
.ref-increase span:after {
  transform: translateY(-50%) rotate(90deg);
}
.ref-quantity-widget .ref-decrease {
  border-right-width: 1px;
}
.ref-quantity-widget .ref-increase {
  border-left-width: 1px;
}
.ref-quantity-widget.inactive,
.ref-quantity-widget .ref-increase.inactive {
  opacity: 0.6;
  pointer-events: none;
}
.reflow-shopping-cart .ref-cart .ref-product-remove {
  text-transform: uppercase;
  color: var(--ref-danger);
  font-size: 0.75em;
  margin-top: 6px;
  cursor: pointer;
  display: inline-block;
}
.reflow-shopping-cart .ref-cart .ref-product-qty-message {
  font-size: 0.75em;
  margin-top: 6px;
}
.reflow-shopping-cart .ref-links {
  text-align: center;
}
.reflow-shopping-cart .ref-checkout .ref-links {
  margin-top: 30px;
}
.reflow-shopping-cart .ref-cart .ref-links a,
.reflow-shopping-cart .ref-checkout .ref-links a {
  color: var(--ref-darkgray);
  font-size: 0.8em;
  text-decoration: none;
  margin-right: 10px;
}
.reflow-shopping-cart .ref-cart .ref-footer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--ref-gray-300);
  padding-top: 35px;
  margin-top: 25px;
}
.reflow-shopping-cart .ref-cart .ref-totals {
  text-align: center;
  margin-bottom: 30px;
}
.reflow-shopping-cart .ref-cart .ref-subtotal {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.reflow-shopping-cart .ref-cart .ref-shipping-taxes {
  margin-bottom: 30px;
}
.reflow-shopping-cart .ref-cart .ref-accept-terms {
  margin-bottom: 35px;
}
.reflow-shopping-cart .ref-cart .ref-accept-terms input[type="checkbox"] {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 3px;
}
.reflow-shopping-cart
  .ref-cart
  .ref-accept-terms
  .ref-terms-agreement-text
  span,
.reflow-shopping-cart .ref-cart .ref-accept-terms .ref-terms-agreement-text a {
  display: inline;
  font-size: 1rem;
}
.reflow-shopping-cart .ref-cart .ref-checkout-buttons {
  flex-direction: column;
  align-items: center;
}
.reflow-shopping-cart
  .ref-cart
  .ref-checkout-buttons
  .ref-paypal-express-checkout-holder
  > div {
  width: 180px !important;
}
.reflow-shopping-cart
  .ref-cart
  .ref-checkout-buttons
  .ref-standard-checkout-button {
  width: 180px;
  text-align: center;
}
@media (min-width: 576px) {
  .reflow-shopping-cart .ref-cart .ref-footer {
    flex-direction: row;
    align-items: flex-start;
  }
  .reflow-shopping-cart .ref-cart .ref-totals {
    text-align: right;
    margin-bottom: 0;
  }
  .reflow-shopping-cart .ref-links {
    text-align: left;
  }
  .reflow-shopping-cart .ref-cart .ref-checkout-buttons {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .reflow-shopping-cart
    .ref-cart
    .ref-checkout-buttons
    .ref-standard-checkout-button {
    margin-left: 12px;
  }
}
.reflow-shopping-cart .ref-checkout {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 100%;
}
.reflow-shopping-cart .ref-checkout .ref-checkout-content,
.reflow-shopping-cart .ref-checkout .ref-checkout-summary {
  flex-grow: 1;
  width: 100%;
  padding: 3%;
}
.reflow-shopping-cart .ref-checkout .ref-heading {
  margin-bottom: 40px;
}
.reflow-shopping-cart .ref-checkout .ref-heading-delivery,
.reflow-shopping-cart .ref-checkout .ref-heading-payment {
  margin-top: 40px;
}
.reflow-shopping-cart .ref-checkout .ref-checkout-content .ref-zero-value-form {
  margin-bottom: 20px;
}
.reflow-shopping-cart .ref-checkout .ref-checkout-summary {
  display: none;
  background: var(--ref-gray-100);
}
.reflow-shopping-cart .ref-checkout .ref-checkout-summary.open {
  display: block;
}
.reflow-shopping-cart .ref-checkout .ref-checkout-summary .ref-heading {
  display: none;
}
.reflow-shopping-cart .ref-checkout .ref-summary-toggle {
  width: 100%;
  background: var(--ref-gray-100);
  cursor: pointer;
  font-size: 0.8em;
  user-select: none;
}
.reflow-shopping-cart .ref-checkout .ref-summary-toggle .ref-field-toggle {
  padding: 1em 5%;
}
.reflow-shopping-cart .ref-checkout label {
  display: block;
  margin-bottom: 16px;
}
.reflow-shopping-cart .ref-checkout label span {
  display: block;
  font-size: 0.9em;
  margin-bottom: 5px;
}
.reflow-shopping-cart .ref-checkout .ref-validation-error {
  color: red;
  font-size: 0.85em;
  padding-top: 4px;
}
.reflow-shopping-cart .ref-checkout .ref-validation-error:empty {
  display: none;
}
.reflow-shopping-cart .ref-checkout .ref-auth-button-holder {
  margin-bottom: 20px;
}
.reflow-shopping-cart .ref-checkout .ref-register {
  font-size: 0.8em;
  margin-top: 5px;
  cursor: pointer;
}
.reflow-shopping-cart .ref-checkout .ref-auth-save-address {
  margin-top: 5px;
  padding-bottom: 10px;
}
.reflow-shopping-cart .ref-checkout .ref-auth-save-address span {
  display: inline;
  padding-left: 3px;
}
.reflow-shopping-cart .ref-checkout .ref-tax-note .ref-field-toggle-title,
.reflow-shopping-cart
  .ref-checkout
  .ref-note-to-seller
  .ref-field-toggle-title {
  display: block;
  font-size: 0.9em;
  margin-bottom: 0;
  font-weight: bold;
  color: var(--ref-primary);
}
.reflow-shopping-cart .ref-checkout .ref-tax-note .ref-tax-exemption-text,
.reflow-shopping-cart .ref-checkout .ref-tax-note .ref-new-tax-file,
.reflow-shopping-cart .ref-checkout .ref-tax-note .ref-old-tax-file {
  margin-top: 10px;
}
.reflow-shopping-cart .ref-checkout .ref-tax-note .ref-old-tax-file {
  display: block;
  font-size: 0.9em;
}
.reflow-shopping-cart .ref-checkout .ref-tax-note .ref-remove-tax-file {
  color: var(--ref-danger);
  border: 1px solid var(--ref-danger);
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1px 5px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: -1px;
  margin-left: 10px;
}
.reflow-shopping-cart .ref-checkout .ref-note-to-seller textarea {
  margin-top: 10px;
}
.reflow-shopping-cart .ref-checkout .ref-checkbox span {
  display: inline;
  margin-bottom: 0;
  user-select: none;
  vertical-align: middle;
}
.reflow-shopping-cart label input[type="text"],
.reflow-shopping-cart label input[type="email"],
.reflow-shopping-cart label input[type="tel"],
.reflow-shopping-cart label textarea,
.reflow-shopping-cart label select,
.reflow-add-to-cart.ref-product-controls label select {
  display: block;
  width: 100%;
}
.reflow-shopping-cart label textarea {
  min-height: 80px;
}
.reflow-shopping-cart label input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.reflow-shopping-cart .ref-row {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}
.reflow-shopping-cart .ref-nav .ref-row {
  flex-direction: column;
}
.reflow-shopping-cart .ref-checkout .ref-row-region > :nth-child(1) {
  width: 100%;
}
.reflow-shopping-cart .ref-checkout .ref-row-region > :nth-child(2) {
  width: 200px;
}
.reflow-shopping-cart .ref-checkout .ref-products {
  margin-top: 10px;
}
.reflow-shopping-cart .ref-checkout .ref-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}
.reflow-shopping-cart .ref-checkout .ref-product .ref-product-col {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.reflow-shopping-cart .ref-checkout .ref-product .ref-product-name {
  font-weight: bold;
  word-break: break-word;
}
.reflow-shopping-cart .ref-checkout .ref-product .ref-product-photo {
  width: 80px;
  height: 80px;
  display: none;
  float: left;
  margin-right: 20px;
  background-color: var(--ref-gray-300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: var(--ref-border-radius);
}
.reflow-shopping-cart .ref-checkout .ref-product .ref-product-secondary,
.reflow-shopping-cart
  .ref-checkout
  .ref-product
  .ref-product-personalization-holder {
  font-size: 0.75em;
  color: var(--ref-gray);
}
.reflow-shopping-cart .ref-checkout .ref-product .ref-product-remove {
  display: block;
  color: var(--ref-danger);
  font-size: 0.75em;
  cursor: pointer;
  text-align: right;
  text-transform: uppercase;
}
.reflow-shopping-cart .ref-checkout .ref-product.ref-warning .ref-product-name,
.reflow-shopping-cart
  .ref-checkout
  .ref-product.ref-warning
  .ref-product-secondary {
  color: var(--ref-danger);
}
.reflow-shopping-cart .ref-checkout .ref-product-qty-message {
  font-size: 0.75em;
  display: inline-block;
}
.reflow-shopping-cart .ref-checkout .ref-product-update-cart {
  font-size: 0.75em;
  display: inline-block;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}
.reflow-shopping-cart .ref-discount-code.hidden {
  display: none !important;
}
.reflow-shopping-cart .ref-discount-code-container {
  display: flex;
  flex-grow: 1;
}
.reflow-shopping-cart .ref-discount-code .ref-discount-code-input-holder {
  flex-grow: 1;
  margin-right: 10px;
  position: relative;
}
.reflow-shopping-cart .ref-discount-code #ref-discount-code-input {
  width: 100%;
  font-size: 0.9rem;
  padding: 8px 14px;
  border: 1px solid var(--ref-gray-300);
  border-radius: var(--ref-border-radius);
  box-shadow: 2px 2px #00000005;
  background: var(--ref-white);
}
.reflow-shopping-cart .ref-discount-code .ref-discount-code-input-clear {
  position: absolute;
  right: 10px;
  top: 7px;
  color: var(--ref-gray);
  display: none;
  cursor: default;
}
.reflow-shopping-cart .ref-discount-code .ref-button.ref-add-code {
  font-size: 0.9rem;
}
.reflow-shopping-cart .ref-checkout .ref-applied-coupon .ref-remove-coupon,
.reflow-shopping-cart
  .ref-checkout
  .ref-applied-gift-card
  .ref-remove-gift-card {
  color: var(--ref-danger);
  border: 1px solid var(--ref-danger);
  font-size: 0.6rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1px 5px;
  border-radius: 4px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  top: -1px;
}
.reflow-shopping-cart
  .ref-checkout
  .ref-applied-coupon
  .ref-applied-coupon-error,
.reflow-shopping-cart
  .ref-checkout
  .ref-applied-gift-card
  .ref-applied-gift-card-error {
  color: red;
  font-size: 0.9em;
}
.reflow-shopping-cart .ref-checkout .ref-totals {
  font-size: 0.9em;
  line-height: 1.8;
}
.reflow-shopping-cart .ref-checkout .ref-total .ref-row {
  font-weight: bold;
  font-size: 1.1em;
}
.reflow-shopping-cart .ref-checkout .ref-total-note {
  text-align: right;
  font-size: 0.8em;
}
.reflow-shopping-cart .ref-checkout .ref-back {
  font-size: 0.9em;
  cursor: pointer;
  margin-bottom: 6px;
  color: var(--ref-gray-700);
}
.reflow-shopping-cart .ref-field-collapsible .ref-collapse,
.reflow-shopping-cart .ref-field-collapsible input[type="text"],
.reflow-shopping-cart .ref-field-collapsible input[type="email"],
.reflow-shopping-cart .ref-field-collapsible input[type="tel"],
.reflow-shopping-cart .ref-field-collapsible textarea {
  display: none;
}
.reflow-shopping-cart .ref-field-collapsible .ref-field-toggle-title:after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 1px;
  border: 5px solid transparent;
  border-width: 5px 6px;
  border-left-color: currentColor;
  position: relative;
  bottom: 0;
  margin-left: 10px;
}
.reflow-shopping-cart .ref-field-collapsible.open span:after {
  border-left-color: transparent;
  border-top-color: currentColor;
  border-width: 6px 5px;
  bottom: -4px;
  margin-left: 8px;
}
.reflow-shopping-cart .ref-field-collapsible.open .ref-collapse,
.reflow-shopping-cart .ref-field-collapsible.open input[type="text"],
.reflow-shopping-cart .ref-field-collapsible.open input[type="email"],
.reflow-shopping-cart .ref-field-collapsible.open input[type="tel"],
.reflow-shopping-cart .ref-field-collapsible.open textarea {
  display: block;
}
.reflow-shopping-cart .ref-field-toggle {
  display: flex;
  justify-content: space-between;
  cursor: default;
}
.reflow-shopping-cart .ref-summary-total {
  font-weight: bold;
}
@media (min-width: 576px) {
  .reflow-shopping-cart .ref-checkout .ref-checkout-content,
  .reflow-shopping-cart .ref-checkout .ref-checkout-summary {
    padding: 5%;
  }
  .reflow-shopping-cart .ref-nav .ref-row {
    flex-direction: row;
  }
  .reflow-shopping-cart .ref-checkout .ref-product .ref-product-photo {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .reflow-shopping-cart .ref-checkout {
    flex-direction: row;
  }
  .reflow-shopping-cart .ref-checkout .ref-checkout-content {
    width: 55%;
    padding: 5%;
  }
  .reflow-shopping-cart .ref-checkout .ref-checkout-summary {
    display: block;
    width: 45%;
    padding: 5%;
    min-height: 650px;
  }
  .reflow-shopping-cart .ref-checkout .ref-checkout-summary .ref-heading {
    display: block;
  }
  .reflow-shopping-cart .ref-checkout .ref-summary-toggle {
    display: none;
  }
}
.ref-payment-method-instructions {
  border: 1px solid var(--ref-gray-300);
  background: var(--ref-white);
  border-radius: var(--ref-border-radius);
  padding: 15px;
  margin-bottom: 20px;
}
.ref-payment-method-instructions > p {
  font-family: var(--bs-body-font-family);
  margin-bottom: 0;
}
.reflow-shopping-cart .ref-checkout .ref-delivery-card {
  background: var(--ref-white);
  border: 1px solid var(--ref-gray-300);
  border-radius: 12px;
  margin-bottom: 50px;
}
.reflow-shopping-cart .ref-checkout .ref-delivery-card .ref-tab {
  border: 1px solid var(--ref-gray-300);
  border-width: 0px;
}
.reflow-shopping-cart .ref-delivery-card.tabbable .ref-tab:first-of-type {
  border-bottom-width: 1px;
}
.reflow-shopping-cart .ref-delivery-card .ref-tab-toggle {
  display: none;
  align-items: center;
  padding: 15px;
  margin-bottom: 0;
}
.reflow-shopping-cart .ref-delivery-card.tabbable .ref-tab-toggle {
  display: flex;
}
.reflow-shopping-cart
  .ref-delivery-card
  .ref-tab
  .ref-tab-toggle
  .ref-heading-small {
  margin-bottom: 0;
  margin-left: 15px;
}
.reflow-shopping-cart .ref-delivery-card .ref-tab .ref-tab-content {
  display: none;
  padding: 10px 15px 30px;
}
.reflow-shopping-cart .ref-delivery-card .ref-tab.open .ref-tab-content {
  display: block;
}
.reflow-shopping-cart .ref-locations {
  margin-bottom: 40px;
}
.reflow-shopping-cart .ref-locations label {
  margin-bottom: 0;
  position: relative;
}
.reflow-shopping-cart .ref-locations label .ref-location-card {
  cursor: pointer;
  border: 1px solid var(--ref-gray-300);
  padding: 12px 16px;
  border-bottom-width: 0px;
}
.reflow-shopping-cart .ref-locations label:first-child .ref-location-card {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.reflow-shopping-cart .ref-locations label:last-of-type .ref-location-card {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-width: 1px;
}
.reflow-shopping-cart .ref-locations input[type="radio"] {
  position: absolute;
  top: 20px;
  left: 20px;
}
.reflow-shopping-cart
  .ref-locations
  input[type="radio"]:checked
  + .ref-location-card {
  box-shadow: inset 0 0 1px 1px var(--ref-primary);
}
.reflow-shopping-cart .ref-locations .ref-location-name {
  display: block;
  font-size: 1em;
  margin-bottom: 12px;
  margin-left: 28px;
}
.reflow-shopping-cart .ref-locations .ref-location-address {
  font-size: 0.9em;
  margin-bottom: 5px;
}
.reflow-shopping-cart .ref-checkout .ref-billing-container {
  margin-top: 30px;
}
.reflow-shopping-cart .ref-checkout .ref-billing-container .ref-button {
  background: var(--ref-white);
  color: var(--ref-primary);
  border: 1px solid var(--ref-primary);
  font-size: 0.9rem;
  padding: 4px 10px 2px;
  border-radius: 4px;
  cursor: pointer;
}
.reflow-shopping-cart .ref-checkout .ref-billing-container .ref-remove-billing {
  margin-bottom: 20px;
  color: var(--ref-gray-700);
  border: 1px solid var(--ref-darkgray);
}
.reflow-shopping-cart .ref-heading-shipping-methods {
  margin-top: 40px;
}
.reflow-shopping-cart .ref-shipping-methods label {
  display: flex;
  cursor: pointer;
  border: 1px solid var(--ref-gray-300);
  padding: 10px 15px;
  margin-bottom: 0;
  border-bottom-width: 0px;
}
.reflow-shopping-cart .ref-shipping-methods label:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.reflow-shopping-cart .ref-shipping-methods label:last-of-type {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-width: 1px;
}
.reflow-shopping-cart .ref-shipping-methods .ref-method-radio {
  display: flex;
}
.reflow-shopping-cart .ref-shipping-methods input[type="radio"] {
  width: 18px;
  height: 18px;
}
.reflow-shopping-cart .ref-shipping-methods .ref-method-name {
  flex: 1;
  padding: 0 12px 0 10px;
  word-break: break-word;
}
.reflow-shopping-cart .ref-shipping-methods .ref-method-name small {
  display: block;
  color: var(--ref-gray);
}
.reflow-shopping-cart .ref-delivery-unavailable {
  border: 1px solid var(--bs-danger);
  padding: 20px;
  margin-bottom: 40px;
}
.reflow-shopping-cart .ref-standard-payment-buttons .ref-button {
  display: block;
  margin-bottom: 7px;
  text-align: center;
  font-size: 18px;
  padding: 14px;
}
@media (min-width: 576px) {
  .ref-payment-method-instructions {
    padding: 30px;
  }
  .reflow-shopping-cart .ref-shipping-methods label {
    padding: 15px 20px;
  }
  .reflow-shopping-cart .ref-shipping-methods .ref-method-name {
    padding: 0 16px 0 18px;
  }
  .reflow-shopping-cart .ref-delivery-card .ref-tab-toggle {
    padding: 20px 25px;
  }
  .reflow-shopping-cart .ref-delivery-card .ref-tab .ref-tab-content {
    padding: 25px 35px 35px;
  }
}
.reflow-product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reflow-product-list .ref-media,
.reflow-product-list.ref-cards .ref-media {
  position: relative;
  width: 100%;
}
.reflow-product-list .ref-image,
.reflow-product-list.ref-cards .ref-image {
  width: 100%;
  height: 250px;
}
.reflow-product-list .ref-image {
  object-fit: cover;
}
.reflow-product-list .ref-image {
  aspect-ratio: 1;
}
.reflow-product-list.ref-cards .ref-image {
  aspect-ratio: auto;
}
.reflow-product .ref-media .ref-promo-badge,
.reflow-product-list .ref-media .ref-promo-badge,
.reflow-product .ref-media .ref-sale-badge,
.reflow-product-list .ref-media .ref-sale-badge {
  position: absolute;
  pointer-events: none;
  top: 0.8em;
  right: 0.8em;
  background-color: var(--ref-success);
  color: var(--ref-white);
  font-weight: bold;
  font-size: 0.75em;
  padding: 0.2em 0.7em;
  border-radius: var(--ref-border-radius);
}
.reflow-product-list .ref-products {
  width: 100%;
  display: grid;
  column-gap: var(--ref-gutter-md);
  row-gap: var(--ref-gutter-md);
}
.reflow-product-list.ref-cards .ref-products {
  --ref-products-per-row: 1;
  margin-bottom: var(--ref-gutter-lg);
  grid-template-columns: repeat(var(--ref-products-per-row), 1fr);
  row-gap: var(--ref-gutter-lg);
}
.reflow-product {
  display: flex;
  flex-wrap: wrap;
}
.reflow-product-list .ref-product {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: inherit;
  text-decoration: none;
}
.reflow-product-list.ref-cards .ref-product {
  flex-direction: column;
}
.reflow-product-list .ref-product .ref-media {
  border-radius: var(--ref-border-radius);
  margin: 0 0 var(--ref-gutter-md) 0;
}
.reflow-product-list.ref-cards .ref-product .ref-media {
  margin: 0 0 var(--ref-gutter-md) 0;
}
.reflow-product-list .ref-product .ref-product-data {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reflow-product-list.ref-cards .ref-product .ref-product-data {
  flex-direction: column;
}
.reflow-product-list .ref-product .ref-name {
  font-size: 1.25em;
}
.reflow-product-list .ref-product .ref-description {
  font-size: 1em;
}
.reflow-product-list .ref-product .ref-price {
  font-size: 0.9em;
  font-family: var(--bs-body-font-family);
  margin: 0;
}
.reflow-product .ref-price.ref-on-sale,
.reflow-product-list .ref-price.ref-on-sale {
  color: var(--ref-success);
}
.reflow-product-list .ref-original-price {
  color: var(--ref-body-color);
  margin-right: 10px;
}
.reflow-product-list .ref-product .ref-addons {
  transition: all 0.3s ease;
  margin-top: 1em;
}
.reflow-product-list.ref-cards .ref-product .ref-addons {
  margin-top: 1em;
  margin-left: 0;
}
.reflow-product .ref-media {
  width: 100%;
  margin-bottom: 2em;
  position: relative;
}
.reflow-product .ref-media .ref-image {
  width: 100%;
  height: 300px;
  background: center no-repeat;
  background-size: cover;
  border-radius: var(--ref-border-radius);
  cursor: pointer;
}
.reflow-product .ref-media .ref-preview {
  margin-bottom: var(--ref-gutter-sm);
}
.reflow-product .ref-media .ref-preview .ref-image {
  object-fit: cover;
  display: none;
}
.reflow-product .ref-media .ref-preview .ref-image.active {
  display: block;
}
.reflow-product .ref-media .ref-preview .ref-video {
  object-fit: unset;
}
.reflow-product .ref-media .ref-thumbnails {
  --ref-thumbs-per-row: 4;
  display: grid;
  grid-template-columns: repeat(var(--ref-thumbs-per-row), 1fr);
  column-gap: var(--ref-gutter-sm);
  row-gap: var(--ref-gutter-sm);
}
.reflow-product .ref-media .ref-thumbnails .ref-thumbnail {
  height: auto;
  aspect-ratio: 1;
  flex-shrink: 0;
}
.reflow-product .ref-media .ref-thumbnails .ref-image {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  min-height: 80px;
}
.reflow-product .ref-media .ref-thumbnails .ref-image:hover,
.reflow-product .ref-media .ref-thumbnails .ref-image.active {
  opacity: 1;
}
.reflow-product .ref-media .ref-thumbnails .ref-video {
  position: relative;
}
.reflow-product .ref-media .ref-thumbnails .ref-video:after,
.reflow-product .ref-media .ref-thumbnails .ref-video:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reflow-product .ref-media .ref-thumbnails .ref-video:before {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--ref-primary);
  box-shadow: 1px 1px 5px #0000004d;
}
.reflow-product .ref-media .ref-thumbnails .ref-video:after {
  left: calc(50% + 2px);
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 15px solid white;
  border-right-width: 0;
  display: block;
}
.reflow-product .ref-product-data {
  flex: 1;
}
.reflow-product .reflow-add-to-cart.ref-product-controls {
  margin-bottom: 1em;
}
.ref-variant {
  margin-bottom: 1em;
}
.reflow-product .ref-category {
  font-size: 0.75em;
  color: var(--ref-gray);
  text-decoration: none;
}
.reflow-product .ref-categories {
  margin-bottom: 0.6em;
}
.reflow-product .ref-category:not(:last-child):after {
  content: ", ";
}
.reflow-product .ref-description {
  margin-bottom: 1.5em;
}
.reflow-product .ref-description img {
  max-width: 100%;
}
.reflow-product .ref-price {
  display: block;
  margin-bottom: 1em;
}
.reflow-product .ref-original-price {
  color: var(--ref-body-color);
  margin-right: 10px;
}
.reflow-product .ref-qty-available {
  display: block;
  margin: var(--ref-gutter-md) 0;
}
.reflow-add-to-cart.ref-product-controls .ref-quantity-widget {
  margin: 0 var(--ref-gutter-sm) var(--ref-gutter-sm) 0;
}
.reflow-add-to-cart.ref-product-controls .ref-personalization {
  margin-top: 1em;
  margin-bottom: 1.5em;
  max-width: 400px;
}
.reflow-add-to-cart.ref-product-controls .ref-personalization .ref-row {
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 8px;
}
.reflow-add-to-cart.ref-product-controls
  .ref-personalization
  input[type="checkbox"] {
  margin-left: 8px;
}
.reflow-add-to-cart.ref-product-controls
  .ref-personalization
  input[type="text"] {
  width: 100%;
}
.reflow-add-to-cart.ref-product-controls .ref-personalization .ref-price {
  text-transform: capitalize;
  font-weight: bold;
  margin: 0;
}
.reflow-add-to-cart.ref-product-controls .ref-personalization p {
  margin-bottom: 8px;
}
.reflow-add-to-cart.ref-product-controls .ref-min-qty-message {
  font-size: 0.9em;
  margin-top: 4px;
}
.reflow-add-to-cart .ref-personalization.ref-required label span {
  color: var(--ref-danger);
}
.reflow-add-to-cart .ref-personalization.ref-required .ref-check svg {
  color: var(--ref-primary);
  width: 1.2em;
  height: 1.2em;
  position: relative;
  top: -1px;
}
.ref-row {
  display: flex;
  flex-wrap: wrap;
}
.ref-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
}
.ref-page-link {
  position: relative;
  display: block;
  margin: 0 0.15em;
  padding: 0.2em 0.7em;
  font-size: 0.9em;
  font-weight: bold;
  color: inherit;
  text-decoration: none;
  border-radius: var(--ref-border-radius);
}
.ref-page-link:hover {
  color: inherit;
  background-color: #e9ecef;
}
.ref-page-item.active .ref-page-link {
  color: var(--ref-white);
  background: var(--ref-primary);
}
.ref-page-item.disabled .ref-page-link {
  opacity: 0.6;
  pointer-events: none;
}
.ref-prev-btn,
.ref-next-btn {
  width: 2em;
  height: 100%;
  padding: 0.1em 0.6em;
}
@media (min-width: 576px) {
  .reflow-product-list .ref-product,
  .reflow-product-list .ref-product .ref-product-data {
    flex-direction: row;
  }
  .reflow-product-list .ref-media {
    width: 30%;
  }
  .reflow-product-list .ref-image {
    width: 100%;
    height: auto;
  }
  .reflow-product-list .ref-product .ref-media {
    margin: 0 var(--ref-gutter-md) 0 0;
  }
  .reflow-product-list:not(.ref-cards) .ref-media .ref-promo-badge,
  .reflow-product-list:not(.ref-cards) .ref-media .ref-sale-badge {
    font-size: 0.7em;
  }
  .reflow-product-list:not(.ref-cards) .ref-product .ref-original-price {
    display: block;
  }
  .reflow-product-list.ref-cards .ref-products {
    --ref-products-per-row: 2;
  }
  .reflow-product-list .ref-product .ref-addons {
    margin-left: 1em;
    margin-top: 0;
  }
  .reflow-product-list.ref-cards .ref-product .ref-addons {
    opacity: 0;
    visibility: hidden;
  }
  .reflow-product-list.ref-cards .ref-product:hover .ref-addons,
  .reflow-product-list.ref-cards .ref-product .ref-addons.out-of-stock {
    opacity: 1;
    visibility: visible;
  }
  .reflow-product .ref-media .ref-thumbnails {
    --ref-thumbs-per-row: 5;
  }
}
@media (min-width: 768px) {
  .reflow-product-list.ref-cards .ref-products {
    --ref-products-per-row: 3;
  }
  .reflow-product .ref-media {
    width: 40%;
  }
  .reflow-product .ref-product-data {
    padding-left: 2em;
  }
  .reflow-product-list .ref-media {
    width: 20%;
  }
  .reflow-product .ref-media .ref-thumbnails {
    --ref-thumbs-per-row: 4;
  }
}
@media (min-width: 992px) {
  .reflow-product-list:not(.ref-cards) .ref-product .ref-original-price {
    display: inline;
  }
  .reflow-product-list .ref-media {
    width: 15%;
  }
  .reflow-product .ref-media .ref-thumbnails {
    --ref-thumbs-per-row: 5;
  }
}
@media (min-width: 1200px) {
  .reflow-product-list.ref-cards .ref-products {
    --ref-products-per-row: 4;
  }
  .reflow-product-list .ref-media {
    width: 10%;
  }
  .reflow-product .ref-media .ref-preview .ref-image {
    height: 400px;
  }
}
.reflow-category-list ul {
  list-style: none;
}
.reflow-category-list a.active {
  font-weight: bold;
}
.reflow-category-list.ref-horizontal-bar {
  background-color: var(--ref-gray-100);
  padding: 5px;
}
.reflow-category-list.ref-horizontal-bar ul {
  padding: 0;
  margin: 0;
  z-index: 999;
}
.reflow-category-list.ref-horizontal-bar > ul {
  display: flex;
  flex-wrap: wrap;
}
.reflow-category-list.ref-horizontal-bar ul ul {
  display: none;
}
.reflow-category-list.ref-horizontal-bar ul li {
  padding: 15px 20px;
  line-height: 1;
  position: relative;
}
.reflow-category-list.ref-horizontal-bar a {
  text-decoration: none;
  color: var(--ref-body-color);
}
.reflow-category-list.ref-horizontal-bar a:hover {
  color: var(--ref-primary);
}
.reflow-category-list.ref-horizontal-bar li.ref-dropdown-toggle:after {
  content: "\25be";
  margin-left: 8px;
}
.reflow-category-list.ref-horizontal-bar li.ref-dropdown-toggle:hover > ul {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 2px 2px 10px #223b8726;
  border-radius: 5px;
  width: max-content;
}
.reflow-category-list.ref-horizontal-bar ul li ul li.ref-dropdown-toggle:after {
  content: "\bb";
}
.reflow-category-list.ref-horizontal-bar
  ul
  li
  ul
  li.ref-dropdown-toggle:hover
  > ul {
  top: 0;
  left: 100%;
}
.reflow-product-search {
  display: flex;
}
.reflow-product-search .ref-input-wrapper {
  width: 100%;
  position: relative;
}
.reflow-product-search .ref-cancel-search {
  display: none;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -11px;
  display: block;
  width: 22px;
  height: 22px;
  transform: scale(0.8);
  border: 2px solid transparent;
  border-radius: 40px;
  cursor: pointer;
}
.reflow-product-search .ref-cancel-search:after,
.reflow-product-search .ref-cancel-search:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.reflow-product-search .ref-cancel-search:after {
  transform: rotate(-45deg);
}
.reflow-product-search input {
  display: block;
  width: 100%;
  padding: 8px 32px 8px 12px;
  display: inline-block;
  border: 1px solid var(--ref-gray-300);
  border-radius: var(--ref-border-radius);
  box-shadow: 2px 2px #00000005;
  background: var(--ref-white);
  font: inherit;
  color: inherit;
}
.reflow-product-search input:focus {
  outline: none;
  border-color: #00000026;
  box-shadow: 0 0 10px #00000026;
}
.reflow-product-search .ref-button {
  margin-left: 10px;
}
.ref-notification {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 220px;
  color: #555;
  background-color: #fff;
  border: 1px solid var(--ref-gray-300);
  border-left: 2px solid;
  border-radius: var(--ref-border-radius);
  margin: 0 30px;
  padding: 10px 15px;
  box-shadow: 0 0 25px #00000026;
  line-height: 1.5;
  font-size: 14px;
  transform: translateY(200px);
  transition: transform 0.4s;
  pointer-events: all;
  z-index: 1046;
}
.ref-notification .ref-button {
  font-weight: bold;
  font-size: 11px;
  text-transform: none;
  padding: 6px 8px;
  margin-top: 7px;
  background-color: var(--ref-primary);
  opacity: 0.95;
}
.ref-notification .ref-button:hover {
  opacity: 1;
}
.ref-notification.no-description .ref-notification-description {
  display: none;
}
.ref-notification.no-description {
  font-size: 13px;
}
.ref-notification.info {
  border-left-color: var(--ref-primary);
}
.ref-notification.success {
  border-left-color: var(--ref-success);
}
.ref-notification.success .ref-button {
  background-color: var(--ref-success);
}
.ref-notification.warning {
  border-left-color: var(--ref-warning);
}
.ref-notification.warning .ref-button {
  background-color: var(--ref-warning);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.ref-notification.error {
  border-left-color: var(--ref-danger);
}
.ref-notification.error .ref-button {
  background-color: var(--ref-danger);
}
.ref-notification .ref-notification-title {
  font-weight: bold;
}
.ref-notification .ref-notification-description {
  font-size: 13px;
  color: var(--ref-gray);
}
.ref-notification .ref-close-button {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
  text-align: center;
  line-height: 19px;
  color: var(--ref-darkgray);
  font-size: 17px;
  opacity: 0.7;
  cursor: pointer;
}
.ref-notification .ref-close-button:hover {
  opacity: 1;
}
@media (min-width: 576px) {
  .ref-notification {
    left: auto;
    margin: 0 50px 6px 0;
    white-space: nowrap;
  }
}
.reflow-cart-toggler {
  position: relative;
}
.reflow-cart-toggler:before {
  content: attr(data-reflow-count);
  position: absolute;
  right: 0;
  background: var(--ref-danger);
  border-radius: 1em;
  color: #fff;
  font-size: 0.7em;
  padding: 0.3em 0.4em 0.2em;
  line-height: 1;
  transform: translate(70%, -50%);
  visibility: hidden;
}
.reflow-cart-toggler.has-summary {
  cursor: pointer;
}
.reflow-cart-toggler.has-quantity:before {
  visibility: visible;
}
.ref-summary,
.ref-product-preview {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  right: 0;
  bottom: 0;
  width: 380px;
  max-width: 100vw;
  border-left: 1px solid var(--ref-gray-300);
  transition: transform 0.3s ease-in-out;
  transform: translate(100%);
  box-shadow: -2px 2px 2px #0000000d;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  opacity: 0;
  visibility: hidden;
  cursor: initial;
  z-index: 1045;
}
.ref-summary.left {
  left: 0;
  transform: translate(-100%);
}
.ref-summary.left {
  border-left: none;
  border-right: 1px solid var(--ref-gray-300);
}
.ref-summary.open,
.ref-product-preview.open {
  opacity: 1;
  visibility: visible;
  transform: translate(0);
}
.ref-summary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.ref-summary-header .ref-summary-title {
  margin: 0;
}
.ref-summary-header .ref-close-button {
  font-size: 1.5em;
  cursor: pointer;
}
@media (min-width: 576px) {
  .ref-summary.dropdown {
    position: absolute;
    top: 100%;
    bottom: auto;
    width: 360px;
    max-width: 100vw;
    min-height: 90px;
    padding: var(--ref-gutter-sm) 0;
    border: 1px solid var(--ref-gray-300);
    border-radius: var(--ref-border-radius);
    box-shadow: 2px 2px 2px #0000000d;
    transform: translate(0);
  }
  .ref-summary.dropdown .ref-summary-header {
    display: none;
  }
}
.ref-summary-body {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: var(--ref-gutter-md);
  font-size: 0.9em;
}
.ref-summary-body .ref-cart-summary {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.ref-summary-body .ref-products {
  position: relative;
  overflow: auto;
}
.ref-summary-footer {
  text-align: center;
}
.ref-summary .ref-product {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--ref-gutter-md);
  font-size: 0.9em;
}
.ref-summary .ref-product .ref-row {
  justify-content: space-between;
}
.ref-summary .ref-product .ref-product-col {
  display: flex;
  flex: 1;
}
.ref-summary .ref-product .ref-product-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.ref-summary .ref-product .ref-product-photo {
  width: 50px;
  height: 50px;
  margin-right: var(--ref-gutter-sm);
  background-color: var(--ref-gray-300);
  border-radius: var(--ref-border-radius);
  object-fit: cover;
}
.ref-summary .ref-product .ref-product-name {
  font-weight: bold;
  word-break: break-word;
}
.ref-summary .ref-product .ref-product-personalization-holder {
  font-size: 0.9em;
  color: var(--ref-gray);
  margin-bottom: 4px;
}
.ref-summary .ref-product .ref-product-quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ref-summary .ref-product .ref-quantity-widget {
  margin-bottom: 0;
}
.ref-summary .ref-product .ref-quantity-widget > div {
  width: 25px;
  font-size: 20px;
  line-height: 1;
}
.ref-summary .ref-product .ref-quantity-widget input {
  width: 35px;
  height: 25px;
}
.ref-summary .ref-product .ref-product-qty-message {
  font-size: 0.9em;
  margin-top: 6px;
}
.ref-summary .ref-product .ref-product-remove {
  font-size: 0.8em;
  color: var(--ref-danger);
  cursor: pointer;
}
.ref-summary .ref-product .ref-product-remove:hover {
  opacity: 1;
}
.ref-summary .ref-subtotal {
  font-weight: bold;
  margin-bottom: var(--ref-gutter-sm);
}
.ref-summary .ref-subtotal .ref-row {
  justify-content: space-between;
}
.ref-summary .ref-shipping-taxes {
  font-size: 0.8em;
  color: var(--ref-gray);
}
.ref-summary-footer .ref-button {
  margin-bottom: var(--ref-gutter-sm);
}
.ref-summary .ref-loading-overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  opacity: 0;
  transition: opacity 0.1s;
  pointer-events: none !important;
}
.ref-summary .ref-loading-overlay.visible {
  opacity: 1;
}
.ref-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  cursor: initial;
}
.ref-backdrop.active {
  display: block;
}
.ref-product-preview-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
}
.ref-product-preview-header .ref-title {
  font-size: 1em;
  font-weight: bold;
}
.ref-product-preview-header .ref-close-button {
  font-size: 1.5em;
  cursor: pointer;
}
.ref-product-preview-content {
  padding: 0 1em;
  overflow: auto;
}
.ref-product-preview .reflow-product {
  display: flex;
  flex-direction: column;
}
.ref-product-preview .ref-media {
  width: 100%;
}
.ref-product-preview .ref-media .ref-preview .ref-image {
  height: 250px;
}
.ref-product-preview .ref-product-data {
  padding: 0;
}
.reflow-shopping-cart .paypal-button {
  height: 55px;
  padding: 16px;
  margin-bottom: 7px;
  font-size: 16px;
  text-align: center;
  border-radius: var(--ref-border-radius);
  cursor: default;
}
.reflow-shopping-cart .ref-paypal-express-checkout-holder .paypal-button {
  height: 43px;
  padding: 10px;
}
.reflow-shopping-cart .paypal-button-gold {
  color: #2c2e2f;
  background: #ffc439;
}
.reflow-shopping-cart .paypal-button-black {
  color: var(--ref-white);
  background: #2c2e2f;
}
.reflow-order-status {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
}
.reflow-order-status > div.col {
  flex: 0 0 auto;
  width: 100%;
  padding: 10px;
}
.reflow-order-status > div.col > div {
  border: 1px solid var(--ref-gray-300);
  border-radius: var(--ref-border-radius);
  padding: 20px;
}
.reflow-order-status h2 {
  font-size: 1.35rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.reflow-order-status .ref-order-line {
  margin-bottom: 10px;
}
.reflow-order-status .ref-order-line b,
.reflow-order-status .ref-order-line span {
  display: block;
}
.reflow-order-status .ref-order-line > b:first-letter {
  text-transform: capitalize;
}
.reflow-order-status .ref-order-line:last-child {
  margin-bottom: 0;
}
.reflow-order-status .ref-line-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.reflow-order-status .ref-product-line.ref-line-item {
  margin-bottom: 0;
}
.reflow-order-status .ref-personalization-line.ref-line-item {
  padding-left: 20px;
  margin-bottom: 0;
}
.reflow-order-status .ref-line-item .ref-price {
  text-align: right;
}
.reflow-order-status .ref-line-item .ref-price small {
  color: var(--bs-gray-600);
  display: block;
  font-size: 0.9 rem;
}
.reflow-order-status .ref-tiny-separator {
  width: 100px;
  text-align: center;
  margin: 12px auto;
}
.reflow-order-status .ref-order-payment-instructions p {
  font-family: var(--bs-body-font-family);
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .reflow-order-status > div.col {
    width: 50%;
    padding: 15px;
  }
  .reflow-order-status > div.col > div {
    padding: 32px;
  }
}
.reflow-auth-button {
  text-align: center;
}
.reflow-auth-button .ref-profile-info {
  text-decoration: none;
}
.reflow-auth-button .ref-profile-info .ref-profile-name {
  color: var(--ref-body-color);
  font-weight: bold;
}
.reflow-auth-button .ref-profile-info .ref-profile-photo {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  margin-right: 10px;
}
.reflow-auth-button .ref-button.ref-sign-out {
  margin-left: 20px;
}
.reflow-auth-button .ref-register {
  cursor: pointer;
}
.reflow-user-orders .ref-auth-orders-guest .ref-signin-prompt {
  text-align: center;
  margin-bottom: var(--ref-gutter-md);
}
.reflow-user-orders .ref-orders-table table {
  width: 100%;
  font-size: 1em;
  margin-bottom: var(--ref-gutter-lg);
}
.reflow-user-orders .ref-orders-table thead {
  color: var(--ref-gray);
  text-transform: capitalize;
}
.reflow-user-orders .ref-orders-table th,
.reflow-user-orders .ref-orders-table td {
  padding: var(--ref-gutter-md);
}
.reflow-user-orders .ref-orders-table tbody tr {
  border: 1px solid var(--ref-gray-300);
}
.reflow-user-orders .ref-orders-table tbody tr.ref-order-link {
  cursor: pointer;
}
.reflow-user-orders .ref-orders-table tbody tr.ref-order-link:hover {
  background-color: var(--ref-gray-100);
}
.reflow-user-orders .ref-orders-pagination {
  display: flex;
  justify-content: center;
}
.reflow-user-settings .ref-auth-settings-guest .ref-signin-prompt {
  text-align: center;
  margin-bottom: var(--ref-gutter-md);
}
.reflow-user-settings .ref-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reflow-user-settings .ref-profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: var(--ref-gutter-lg);
  object-fit: cover;
}
.reflow-user-settings .ref-setting {
  width: 100%;
  max-width: 350px;
  text-align: center;
  margin-bottom: var(--ref-gutter-md);
}
.reflow-user-settings .ref-setting label {
  width: 100%;
  display: block;
  text-align: left;
}
.reflow-user-settings .ref-setting input,
.reflow-user-settings .ref-setting textarea,
.reflow-user-settings .ref-setting select {
  width: 100%;
  margin-top: 5px;
}
.reflow-user-settings .ref-setting.ref-setting-photo label {
  font-size: 0.9em;
  margin-top: 4px;
  cursor: pointer;
  text-align: center;
}
.reflow-user-settings .ref-setting.ref-setting-photo input {
  display: none;
}
.reflow-user-settings .ref-address-holder {
  margin-top: var(--ref-gutter-md);
}
.reflow-user-settings .ref-address-settings {
  width: 100%;
  text-align: left;
}
.reflow-user-settings .ref-address-settings .ref-address-widget label {
  margin-bottom: var(--ref-gutter-md);
  width: 100%;
}
.reflow-user-settings .ref-address-settings .ref-address-widget label span {
  font-size: 0.9em;
}
.reflow-user-settings .ref-settings .ref-button.ref-change-password {
  background-color: var(--ref-white);
  border: var(--ref-btn-border-radius);
  border: 1px solid var(--ref-gray-300);
  color: var(--ref-body-color);
}
.reflow-user-settings .ref-settings .ref-button.ref-change-password,
.reflow-user-settings .ref-settings .ref-button.ref-submit {
  margin-top: var(--ref-gutter-md);
}
.ref-test-mode-badge {
  background: #e79520;
  color: #fff;
  padding: 8px 12px;
  max-width: 100px;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 2px;
}
